[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = git://github.com/sjl/badwolf.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/bundle/prolog.vim"]
	path = vim/bundle/prolog.vim
	url = git://github.com/adimit/prolog.vim.git
